SNOWFLAKE_ACCOUNT=test
SNOWFLAKE_USER=test
SNOWFLAKE_PASSWORD=test
WAREHOUSE=COMPUTE_WH
DATABASE=embucket
SCHEMA=public
RESET_DB=false

# Embucket Configuration
EMBUCKET_ENABLED=false
EMBUCKET_PROTOCOL=http
EMBUCKET_HOST=localhost
EMBUCKET_PORT=3000
