# snowflake
export SNOWFLAKE_ACCOUNT=
export SNOWFLAKE_USER=
export DBT_ENV_SECRET_SNOWFLAKE_PASS=
export SNOWFLAKE_DATABASE=EMBUCKET
export SNOWFLAKE_ROLE=ACCOUNTADMIN
export SNOWFLAKE_WAREHOUSE=MY_SNOWFLAKE_LOAD_WAREHOUSE
export SNOWFLAKE_SCHEMA=MY_SNOWFLAKE_PREPARATION_SCHEMA

# embucket
export EMBUCKET_HOST=localhost
export EMBUCKET_PORT=3000
export EMBUCKET_PROTOCOL=http
export EMBUCKET_ACCOUNT=test
export EMBUCKET_USER=test
export EMBUCKET_PASSWORD=test
export EMBUCKET_ROLE=SYSADMIN
export EMBUCKET_DATABASE=EMBUCKET
export EMBUCKET_WAREHOUSE=COMPUTE_WH
export EMBUCKET_SCHEMA=public

# project level envs
export DBT_PROFILES_DIR=profile
export SALT_PASSWORD="SALT_PASSWORD"
export SALT_PASSWORD="4f4a4c7a9c66f0bc70d8acb9c21ff2e9"
export SALT="SALT"
export SALT_EMAIL="SALT_EMAIL"
export SALT_NAME="SALT_NAME"
export SALT_IP=192.168.1.42
export SNOWFLAKE_STATIC_DATABASE="SNOWFLAKE_STATIC_DATABASE"
export SNOWFLAKE_PREP_DATABASE=EMBUCKET
export SNOWFLAKE_TRANSFORM_ROLE="MY_SNOWFLAKE_TRANSFORM_ROLE"
export SNOWFLAKE_LOAD_WAREHOUSE="MY_SNOWFLAKE_LOAD_WAREHOUSE"
export SNOWFLAKE_TRANSFORM_WAREHOUSE="MY_SNOWFLAKE_TRANSFORM_WAREHOUSE"
export SNOWFLAKE_PREPARATION_SCHEMA="MY_SNOWFLAKE_PREPARATION_SCHEMA"
export SNOWFLAKE_PROD_DATABASE=EMBUCKET
export SNOWFLAKE_LOAD_DATABASE=EMBUCKET
export SNOWFLAKE_SNAPSHOT_DATABASE=EMBUCKET
export DATA_TEST_BRANCH="DATA_TEST_BRANCH"



